<div class="container">
    <div class="table">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Order Name</th>
                    <th>Price</th>
                    <th>Pizza Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th><button  routerLink="/admin/addOrder">Add New Order</button> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pizza of pizzas">
                    <td>{{pizza.orderName}}</td>
                    <td>{{pizza.price | currency:'INR'}}</td>
                    <td>{{pizza.orderType}}</td>
                    <td><button class="btn btn-outline-dark btn-block" (click)="onSelection(pizza)">Edit</button></td>
                    <td><button class="btn btn-outline-dark btn-block" routerLink="/admin/delete/{{pizza.orderId}}">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="selectedPizza" class="selectedPizza">
    <app-admin-edit [pizza]="selectedPizza"></app-admin-edit>
</div>

