<div class="container">
    <!-- <p><a routerLink="">All Pizzas</a></p> -->

        <!-- <div class="col-md-2"><h5>Order Number</h5></div> -->
        <div class="table">
            <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Order Name</th>
                    <th>Price</th>
                    <th>Pizza Type</th>
                    <th>Add To Cart</th>
                    <th><a [routerLink]="['/cart']" class="button fancy-button">
                        <i class="material-icons">shopping_cart</i>Cart</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pizza of pizzas">
                    <td>{{pizza.orderName}}</td>
                    <td>{{pizza.price | currency:'INR'}}</td>
                    <td>{{pizza.orderType}}</td>
                    <!-- <td><a routerLink="/pizza/delete/{{pizza.orderId}}">Delete</a></td> -->
                    <td class="btn btn-outline-dark btn-block" (click)="addToCart(pizza)">Add</td>
                </tr>
                <!-- <tr>
                   <button class="btn btn-outline-dark"><a routerLink="/pizza/create">Add New Order</a></button> 
                </tr> -->
            </tbody>
        </table>
        </div>
</div>

<div *ngIf="selectedPizza" class="selectedPizza">
    <app-pizza-edit [pizza]="selectedPizza"></app-pizza-edit>
</div>
